<% content_for :title, "#{@note.subject_to_show} (#{@note.user.account})" %>
<p class="alert">Note: The URL of this note will be changed in <a href="https://github.com/ginpei/md-notes/issues/23">the update</a>.</p>
<%= render 'notes/article', note: @note %>
