<% content_for :title, 'About' %>
<h1>About MD-Notes</h1>
<p>You can make notes in Markdown Extra syntax.</p>
<h2>Syntax</h2>
<h3>Heading</h3>
<pre># h1
## h2
###### h6</pre>
<h3>Paragraph and New Line</h3>
<style>
.space-for-new-line {
  border-bottom: solid 1px #999;
  margin-right: 2px;
}
</style>
<pre>The first paragraph

The second paragraph
without new line

And the third paragraph<span class="space-for-new-line"> </span><span class="space-for-new-line"> </span>
with new line</pre>
<p>Two spaces in end of line makes new line <code>&lt;br /&gt;</code>.</p>
<h3>List</h3>
<pre> * Unorderd list
 * Unordered list
 * Unordered list

 1. Ordered list
 2. Ordered list
 3. Ordered list</pre>
<h3>Link</h3>
<pre>[Link text](http://www.example.com)

&lt;http://wwww.example.com&gt;</pre>
<h3>And more</h3>
→ <a href="https://www.google.com/search?q=Markdown%20Extra%20syntax">Search in Google</a>
<h2>Contact</h2>
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <td>Takanashi Ginpei</td>
    </tr>
    <tr>
      <th>Blog</th>
      <td><a href="http://ginpen.com">Ginpen.com</a> (in Japanese)</td>
    </tr>
    <tr>
      <th>Mail</th>
      <td>ginpei @ gmail</td>
    </tr>
    <tr>
      <th>Twitter</th>
      <td><a href="http://twitter.com/ginpei_jp">@ginpei_jp</a></td>
    </tr>
  </tbody>
</table>
